.gebhalyLogo{
    max-width: 80px;
    margin-left: auto;
}
.productsParag{
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    font-family: Roboto, sans-serif;
    letter-spacing: 3px;
}
/* .letsGoStyle{
    height: 45px;
    font-size: 15px;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    width: 100px; 
    
} */

@media only screen and (min-width:768px){
    .gebhalyLogo{
        max-width: 7%;
    }
    .productsParag{
        margin-top: 100px;
    }  
}