.productImage{
    width: 59px;
    height: 40px;
    margin-left: 55px;
}
.product_lists_container{
    display: flex;
    font-size: 11px;
    margin: 25px;
    place-content: center;
}
.products_style{
    margin-left: 55px;
}
.productNameStyle{
    position: absolute;
    inline-size: min-content;
    left: 5px;
}