.productImage{
    width: 59px;
    margin-left: 17px;
}
.product_lists_container{
    display: flex;
    font-size: 11px;
    margin: 25px;
    text-align-last: center;
    align-items: center;
}
.products_style{
    margin-left: 55px;
}
.productNameStyle{
    position: absolute;
    inline-size: min-content;
    left: 5px;
}
.addToCartBtn{
    height: 25px;
    font-size: 15px;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    width: 100px; 
    float: right;
    margin-top: 20px;
    cursor: pointer;
}
@media only screen and (min-width:768px){
    .product_lists_container{
        margin: 45px;
    }
    .productNameStyle{
        inline-size: unset;
        font-size: 20px;
        left: 42px;
    }
    .products_style{
        margin-left: 26%;
    font-size: 21px;
    }
    .addToCartBtn{
        margin-top: 65px;
        right: 70px;
    }
    .addToCart_prodImage{
        display: grid;
        margin-left: 100px;
    }
}