.productImage{
    width: 59px;
    margin-left: 23px;
}
.product_lists_container{
    display: flex;
    font-size: 11px;
    margin: 25px;
    align-items: center;
    text-align-last: center;
}
.costStyle{
    margin-left: 125px;
    font-size: 24px;
    color: green;
}
.productNameStyle{
    inline-size: min-content;
    position: absolute;
    left: 25px;
    font-size: 20px;
}
.removeFromCartBtn{
    height: 25px;
    font-size: 15px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    width: 100px;
    float: right;
    margin-top: 50px;
    margin-right: 16px;
    cursor: pointer;
}
.yourOrder{
    text-align: center;
    margin-bottom: 60px;
    font-family: fantasy;
    margin-top: 40px;
}
.totalCost{
    text-align: center;
    margin-top: 60px;
    font-size: 25px;
    color: green;
}
.continueShoppingBtn{
    height: 40px;
    font-size: 15px;
    background-color: blue;
    border: none;
    color: white;
    margin-top: 100px;
    cursor: pointer;
    width: 100%;
}
.remove_prodImage_wrapper{
    display: grid;
    margin-left: 80px;
}

@media only screen and (min-width:768px){
    .removeFromCartBtn{
        position: absolute;
        right: 10px;
    }
.productNameStyle{
    inline-size: auto;
    font-size: 30px;
    margin-left: 20px;
}
.costStyle{
    margin-left: 0px;
}
.productImage{
    height: auto;
}
.continueShoppingBtn{
    margin-top: 50px;
    width: 25%;
}
.continueShoppingWrapper{
    text-align: center;
}
.product_lists_container{
    justify-content: center;
}

}